.Rproj.user
.Rhistory
.RData
.Ruserdata
data/buffer_around_parks/
data/city_shapefiles/
data/data_summaries/
data/detections_by_city/
data/lepidoptera_trait_data/invasive_species/
data/lepidoptera_trait_data/leptraits/
data/lepidoptera_trait_data/migratory_status/
data/parkserve_national_shapefiles/
visualize_data/
.RDataTmp*

.positai
part1_urban_butterfly_community_dynamics/model_outputs/
part2_local_landscape_predictors_of_occupancy/model_outputs/
supplementary_analysis
